body{
	background: url("../images/outdoor.jpg");
	background-size: cover;
	color: #fff;
	text-align: center;
	font-family: 'Holtwood One SC', serif;
}
@font-face{
	src: url("../fonts/PIXELADE.TTF");
	font-family: pixelart;
}
h2{
	font-family: 'Yeon Sung', cursive;
	color: #1c87c9;
	margin-top: 30px;
}
h1{
	font-family: inherit;
	-webkit-text-stroke: 1px #1c87c9;
	margin-top: 50px;
}
.btn{
	font-family: pixelart;
	font-size: 30px;
	padding: 7px 15px;background: white;
	border: none;
	color: #1c87c9;
}
.btn:hover{
	border: 1px solid #71AAE5;
}
span {
	border-bottom: 6px solid white;
}