body {
	margin: 0;
}

/*=====================
	Header
======================*/
#logo {
	width: 100px;
	height: 100px;
	background: limegreen;
	font-size: 64px;
	text-align: center;
	line-height: 100px;
	text-decoration: none;
	border-radius: 15px 50px;
	float: left;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav {
	display: table;
	height: 100px;
}
nav ul{
	display: table-cell;
	vertical-align: middle;
	margin-right: 2em;
	padding-left: 50px;
	font-size: 20px;
}
nav ul li {
	float: left;
	padding: 20px;
}
.content {
	width: 980px;
	margin: 0 auto;
}
header {
	background: lightskyblue;
	padding: 20px;
}
a:hover {
	text-decoration: underline;
	color: black;
}
.clearfix {
	clear: both;
}

/*===================
	Content
===================*/
#main {
	background: #ebebeb;
	padding: 40px 0;
}
#main .articles {
	float: left;
	width: 650px;
}
#main .articles .excerpt {
	float: right;
	width: 365px;
}
#main .articles h2 {
	margin: 0 0 20px;
}
#main article{
	background: white;
	margin-bottom: 15px;
}
#main .articles .inner{
	padding: 20px;
}

#main .articles .outer > div{
	float: left;
	padding: 0 20px;
}
#main .articles .outer {
	border-top: 2px solid #EBEBEB;
	color: #999;
	padding: 20px 0;
	float: left;
	width: 100%;
}
#main .articles .outer .comment {		
	float: right;
}
/*==================
	Sidebar
===================*/
#main .sidebar {
	float: right;
	width: 260px;
	min-height: 100px;
	background: white;
	padding: 20px;
}
#main .sidebar input[type=text]{
	padding: 10px;
	width: 185px;
	font-size: 18px;
}
#main .sidebar input[type=submit]{
	padding: 12px 0;
}
#main .sidebar a{
	color: #6087FF;
}
#main .sidebar ul li{
	padding: 10px 0;
	border-bottom: 1px solid #EBEBEB;
	width: 100%;
}
#main .sidebar ul li:last-child{
	border-bottom: none;
}	
#main .sidebar h2{
	margin: 40px 0 10px 0;
}

/*========================
	Footer
=========================*/
footer{
	padding: 20px 0;
}
footer .copyright{
	float: left;
}
footer .contact{
	float: right;
}