@charset "utf-8";

html{
	width: 60%;
	margin: 0 auto;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Cairo', sans-serif;
}

/* Header */
header{
	height: 200px;
	background-image: url("../images/7.jpg");
	background-size: cover;
	background-position: 0 40%;
	background-repeat: no-repeat;
	border-radius: 10px;
}
header li{
	display: inline;
	margin-right: 20px;
}
header li a{
	text-decoration: none;
	color: black;
	text-shadow: 0 0 1px black;
}
.title{
	text-align: center;
	color: rgba(255,255,255,0.95);
	text-shadow: 1px 1px 5px black;
	position: relative;
	top: 75px;
}
.bgcolor{
	background-color: rgba(255,255,255,.2);
	border-radius: 10px;
	padding: 0 10px;
}

/* content */
.container{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.form{
	width: 700px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px 0 30px;
	text-align: center;
}
.formTitle{
	margin-top: -25px;	
	color: white;
	text-align: center;		
}
.formTitle span{
	background: black;
	border-radius: 5px;
	padding: 3px 20px;
}
.formInput input[type="text"],
.formInput input[type="number"],
.formInput input[type="email"],
.formInput textarea{
	margin-bottom: 15px;
	font-size: 30px;
	width: 50%;
	text-transform: uppercase;
	font-family: Pacifico, sans-serif;
}
.formInput textarea{
	resize: none;
	font-size: 14px;
}
label{
	border: 1px solid black;
	border-bottom: none;
	background: rgba(146,216,255,0.65);
	display: block;
	font-size: 14px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 3px;
}
.button{
	font-family: Pacifico, sans-serif;
	background: rgba(146,216,255,0.65);
	border: 1px solid rgba(9,9,9,0.60);
	padding: 5px 10px;
	border-radius: 8px;
}
.button:hover{
	background-color: rgba(58,255,209,0.8) ;
}
/* aside */
.avatar{
	width: 120px;
	border-radius: 100%;
}
aside{
	width: 300px;
	margin-right: 10px;
	height: 330px;
	background-color: rgba(0,0,0,0.15);
	border: 1px solid rgba(0,0,0,0.20);
	border-radius: 10px;
	text-align: center;
	padding: 20px 10px;
}

/* Footer */
footer{
	height: 50px;
	line-height: 45px;
	border-radius: 10px;
	background-color: #FFC395;
	text-align: center;
}