@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<table style="width:100%">
    <tr>
        <th align="left">Movies</th>
    </tr>
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Name</td>
        </tr>
    }
    
</table>


